<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>esweb</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">
  <link rel="stylesheet" href="static/css/bootstrap.css"/>
  <link rel="stylesheet" href="static/css/font-awesome.css"/>
  <link rel="stylesheet" href="static/css/app.css"/>
  <link rel="stylesheet" href="static/css/jsoneditor.min.css"/>
  <link rel="icon" type="image/x-icon" href="static/img/icon.ico"/>
  <script type="text/javascript" src="static/js/jquery.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/jsoneditor.js"></script>
  <script type="text/javascript" src="static/js/ace.js"></script>
  <script type="text/javascript" src="static/js/ace-pgsql.js"></script>
  <script type="text/javascript" src="static/js/ext-language_tools.js"></script>
  <script type="text/javascript" src="static/js/bootstrap-contextmenu.js"></script>
  <script type="text/javascript" src="static/js/utils.js"></script>
  <script type="text/javascript" src="static/js/bootstrap3-typeahead.min.js"></script>
  <script type="text/javascript" src="static/js/app.js"></script> 
  <script type="text/javascript" src="static/js/base64.js"></script>
</head>
<body>
  <div id="main">
    <div id="nav">
      <ul>
        <li id="table_content">Rows</li>
        <li id="table_structure">Details</li>
        <li id="table_query" class="selected">Query</li>
        <li id="table_history">History</li>
        <li id="cluster_tasks">Tasks</li>
        <li id="table_connection">Connection</li>
        <li id="dev_tools">Devtools</li>
      </ul>

      <div class="connection-actions">
        <a href="#" id="edit_connection" class="btn btn-default btn-sm"><i class="fa fa-database"></i> Connect</a>
{{/*        <a href="#" id="close_connection" class="btn btn-default btn-sm">Disconnect</a>*/}}
      </div>
    </div>
    <div id="sidebar">
      <div class="current-database">
        <div class="wrap">
          <i class="fa fa-database"></i> <span class="current-database-name" id="current_database"></span>
          <input class="typeahead" id="database_search" type="text" placeholder="Search Cluster" />
          <span class="refresh" id="refresh_tables" title="Refresh tables list"><i class="fa fa-refresh"></i></span>
        </div>
      </div>
      <div class="objects-search">
        <div class="wrap">
          <i class="fa fa-search"></i>
          <i class="fa fa-times-circle clear-objects-filter"></i>
          <input type="text" placeholder="Filter indices objects" id="filter_database_objects" />
        </div>
      </div>
      <div class="tables-list">
        <div class="wrap">
          <div id="objects"></div>
        </div>
      </div>
      <div class="table-information">
        <div class="wrap">
          <div class="title">Index Information</div>
          <div class="lines">
            <div class="line">Status: <span id="index_status"></span></div>
            <div class="line">Health: <span id="index_health"></span> <i id="index_health_icon" class="fa fa-circle"></i> </div>
            <div class="line">Size: <span id="index_store_size"></span></div>
            <div class="line">Docs count/deleted: <span id="doc_count"></span></div>
          </div>
        </div>
      </div>
    </div>
    <div id="body">
      <div id="input">
        <div class="wrapper">
          <div id="custom_query"></div>
          <div class="actions">
            <input type="button" id="run" value="Run Query" class="btn btn-sm btn-primary" />
            <input type="button" id="show_dsl" value="Show DSL" class="btn btn-sm btn-default" ata-toggle="modal" data-target="#dslModal" />
            <div id="query_progress">Please wait, query is executing...</div>
            <div class="pull-right">
              <span id="result-rows-count"></span>
              <input type="button" id="json" value="JSON" class="btn btn-sm btn-default" />
              <input type="button" id="csv" value="CSV" class="btn btn-sm btn-default" />
              <input type="button" id="xml" value="XML" class="btn btn-sm btn-default" />
            </div>
          </div>
        </div>
      </div>
      <div id="output">
        <div class="wrapper">
          <table id="results" class="table">
            <thead id="results_header"></thead>
            <tbody id="results_body"></tbody>
          </table>
        </div>
      </div>
      <div id="pagination">
        <form class="filters" action="#" id="rows_filter">
          <span>Search</span>
          <select class="column form-control"></select>
          <select class="filter form-control">
            <option value="">Select filter</option>
            <option value="equal">=</option>
            <option value="not_equal">&ne;</option>
            <option value="greater">&gt;</option>
            <option value="greater_eq">&ge;</option>
            <option value="less">&lt;</option>
            <option value="less_eq">&le;</option>
            <option value="like">LIKE</option>
            <option value="null">IS NULL</option>
            <option value="not_null">NOT NULL</option>
          </select>
          <input type="text" class="form-control" placeholder="Filter value" id="table_filter_value" />
          <button class="btn btn-primary btn-sm apply-filters" type="submit">Apply</button>
          <button class="btn btn-default btn-sm reset-filters"><i class="fa fa-times"></i></button>
        </form>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm prev-page" disabled="disabled"><i class="fa fa-angle-left"></i></button>
          <button type="button" class="btn btn-default btn-sm page change-limit" title="Click to change row limit"></button>
          <button type="button" class="btn btn-default btn-sm next-page"><i class="fa fa-angle-right"></i></button>
        </div>
        <div class="current-page" data-page="1" data-pages="1">
          <span id="total_records"></span> rows
        </div>
      </div>
      <div id="structure"  style="display: none; height: 100%">
          <ul id="structure_tabs" class="nav nav-tabs nav-tabs-border margin-top-10" role="tablist">
              <li role="presentation" class="active"><a href="#mapping" id="mapping_tab" role="tab" data-toggle="tab" aria-controls="mapping" aria-expanded="false">Mapping</a></li>
              <li role="presentation" class=""><a href="#settings" id="settings_tab" role="tab" data-toggle="tab" aria-controls="settings" aria-expanded="false">Settings</a></li>
              <li role="presentation" class=""><a href="#stats" id="stats_tab" role="tab" data-toggle="tab" aria-controls="stats" aria-expanded="false">Stats</a></li>
          </ul>
          <div id="structure_editor" style="height: 90%">
          </div>
      </div>
      <div id="dsl_query" class="container-fluid" style="display: none; height: 100%">
        <div class="row" style="height: 100%">
          <div id="dsl_query_bar">
            <button id="format" type="button"><span class="fa fa-indent"></span></button>
            <button id="jsonBtn" type="button"><span class="fa fa-play" style="color: #86ef77;"></span>
            </button>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: -0px; padding-right: -0px; height: 100%">
            <div id="codeEditor" style="width: 100%; height: 100%"></div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 10px; padding-right: -0px;height: 100%">
            <div id="jsonEditor" style="width: 100%; height: 100%;"></div>
          </div>
        </div>


      </div>
  </div>


  <div id="connection_window">
    <div class="connection-settings">
      <div class="header">
        <h1>esweb</h1>
        <div class="version"></div>
        <div class="update alert alert-warning"></div>
      </div>

      <form role="form" class="form-horizontal" id="connection_form">


        <div class="connection-standard-group">
          <div class="form-group bookmarks">
            <label class="col-sm-3 control-label">Bookmark</label>
            <div class="col-sm-9">
              <select class="form-control" id="connection_bookmarks"></select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <input type="text" id="alias" class="form-control" />
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label">Host</label>
            <div class="col-sm-9">
              <input type="text" id="pg_host" class="form-control" placeholder="http://localhost:9200"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
              <input type="text" id="pg_user" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
              <input type="password" id="pg_password" class="form-control" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Kibana</label>
          <div class="col-sm-9">
            <input type="text" id="kibana_url" class="form-control" placeholder="http://localhost:5601"/>
          </div>
        </div>


        <div id="connection_error" class="alert alert-danger"></div>

        <div class="form-group">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-block btn-primary open-connection">Connect</button>
            <button type="button" id="close_connection_window" class="btn btn-block btn-default">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="tables_context_menu">
    <ul class="dropdown-menu" role="menu">
      <li><a href="#" data-action="copy">Copy Index Name</a></li>
      <li class="divider"></li>
      <li><a href="#" data-action="dump" data-format="csv">Export to CSV</a></li>
      <li class="divider"></li>
      <li><a href="#" data-action="migrate">Migrate index</a></li>
      <li class="divider"></li>
      <li><a href="#" data-action="refresh">Refresh index</a></li>
      <li><a href="#" data-action="merge">Merge index</a></li>
      <li><a href="#" data-action="flush">Flush index</a></li>
      <li><a href="#" data-action="clear_cache">Clear index cache</a></li>
      <li><a href="#" data-action="freeze">Freeze index</a></li>
      <li><a href="#" data-action="close">Close index</a></li>
      <li><a href="#" data-action="open">Open index</a></li>
      <li><a href="#" data-action="delete">Delete index</a></li>
    </ul>
  </div>
  <div id="view_context_menu">
    <ul class="dropdown-menu" role="menu">
      <li><a href="#" data-action="copy">Copy View Name</a></li>
      <li class="divider"></li>
      <li><a href="#" data-action="export" data-format="json">Export to JSON</a></li>
      <li><a href="#" data-action="export" data-format="csv">Export to CSV</a></li>
      <li><a href="#" data-action="export" data-format="xml">Export to XML</a></li>
      <li class="divider"></li>
      <li><a href="#" data-action="delete">Delete View</a></li>
    </ul>
  </div>
  <div id="current_database_context_menu">
    <ul class="dropdown-menu" role="menu">
      <li><a href="#" data-action="export">Export SQL dump</a></li>
    </ul>
  </div>
  <div id="results_header_menu">
    <ul class="dropdown-menu" role="menu">
      <li><a href="#" data-action="unique_values" data-counts="false">Unique Values</a></li>
      <li><a href="#" data-action="unique_values" data-counts="true">Unique Values + Counts</a></li>
      <li><a href="#" data-action="num_stats">Numeric stats (min/max/avg)</a></li>
      <li><a href="#" data-action="copy_name">Copy Column Name</a></li>
    </ul>
  </div>
  <div id="results_row_menu">
    <ul class="dropdown-menu" role="menu">
      <li><a href="#" data-action="copy_value">Copy Value</a></li>
      <li><a href="#" data-action="filter_by_value">Filter Rows By Value</a></li>
    </ul>
  </div>
  <div class="modal fade" id="migrate_modal" tabindex="-1" role="dialog" aria-labelledby="migrate_modal_label"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                      aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="migrate_modal_label">Migrate <span id="src_index"></span></h4>
          </div>
          <div class="modal-body">

{{/*            <div id="migrate_progress" style="display: none">Please wait, migrate is executing...</div>*/}}

            <form role="form" class="form-horizontal" id="migrate_form">
              <div class="connection-standard-group">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Index name</label>
                  <div class="col-sm-9">
                    <input type="text" id="dst_index" class="form-control"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Num items</label>
                  <div class="col-sm-9">
                    <input type="text" id="num_items" class="form-control" placeholder="-1 means all"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Host</label>
                  <div class="col-sm-9">
                    <input type="text" id="dst_host" class="form-control" placeholder="http://localhost:9200"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Username</label>
                  <div class="col-sm-9">
                    <input type="text" id="dst_user" class="form-control"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Password</label>
                  <div class="col-sm-9">
                    <input type="password" id="dst_password" class="form-control"/>
                  </div>
                </div>
              </div>

            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary migrate_button" id="migrate_button">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Migrate
            </button>
          </div>

        </div>
      </div>
    </div>
    <div class="modal fade" id="dslModal" tabindex="-1" role="dialog"
         aria-labelledby="dslModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-body" id="dslContentModal" style="white-space: pre-wrap;">
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
